<<<<<<< HEAD
<<<<<<< Updated upstream
.CommentForSinglePost {
=======
.comments {
>>>>>>> f357db09a30142a400d21635dd7ce780c9866292
  border: 2px solid teal;
}

.h5 {
  margin: 0.5em;
  color: aquamarine;
}
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
=======
>>>>>>> f357db09a30142a400d21635dd7ce780c9866292
