.pageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page__current {
  border: 3px solid darkturquoise;
  font-weight: bold;
}
