* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #181A1B;
    text-decoration-color: #fff;
    color: #fff;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.FormAddPosts {
    display: flex;
    flex-direction: column;
    
}
