.post {
  display: flex;
  border: 2px solid teal;
  margin-top: 15px;
  align-items: flex-end;
  flex-direction: column;
}

.btns {
  display: flex;
  flex-wrap: wrap;
}

.Button {
  margin: 5px 5px 5px 0px;
}
