.post {
  display: flex;
  border: 2px solid teal;
  margin-top: 15px;
  flex-direction: column;
  padding: 0 0.5em;
  align-items: flex-end;
  flex-direction: column;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}

.Button {
  margin: 5px 5px 5px 0px;
}

.title {
  margin-bottom: 0.5em;
}
