.FormButton {
    display: block;
    font-size: 14px;
    color: #fff;
    background: transparent;
    border: 2px solid #b18597;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 5px 15px;
}